<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>

    <main>
      <div style="width: 800px;">
        {% for p_i in data %}<canvas id="charts_{{ p_i.product }}"></canvas>{% endfor %}
      </div>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
    
    <script>
    $(function() {
      console.log('hello world :o');
      {% for p_i in data %}
      const chart_{{ p_i.product }} = new Chart(document.getElementById('charts_{{ p_i.product }}'), {
        type: 'line',
        data: {
          datasets: [
          {% for m_i in p_i.months %}
          {
            label: '{{ m_i.month }}',
            backgroundColor: 'rgb({{ m_i.color_r }}, {{ m_i.color_g }}, {{ m_i.color_b }})',
            borderColor: 'rgb({{ m_i.color_r }}, {{ m_i.color_g }}, {{ m_i.color_b }})',
            fill: false,
            tension: 0.4,
            data: [
            {% for d_i in m_i.data %}
            {
              x: '{{ d_i.time }}',
              y: '{{ d_i.price }}'
            },
            {% endfor %}
            ],
          },
          {% endfor %}
          ] // datasets
        }, // data
        options: {
          plugins: {
            title: {
              text: '{{ p_i.product }} Cost Trend ',
              display: true
            }
          },
          scales: {
            x: {
              title: {
                display: true,
                text: 'Date'
              },
            },
            y: {
              title: {
                display: true,
                text: 'value'
              }
            }
          },
        },
      })
      {% endfor %}
    }) // $()
	  </script>

  </body>
</html>
